<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="../css/style.css" rel="stylesheet" />

    <title>Vintage Food</title>

</head>
<body>
    <form id="form1" runat="server">
        <header>
            <div class="absolute">
                <h1>Bienvenido a Vintage Food</h1>
            </div>
        </header>
        <video src="../Images/Fondo_Index.mp4" autoplay loop>
        </video>

        <p> Esto es una prueba </p>


    </form>
    
</body>


</html>
